<h1 class="page_title">Your Coupons For Today</h1>

<section class="nine_offers">
  <% @offers.each do |offer| %>
    <h2 class="coupon_name"><%= offer.name %></h2>
    <div>
      <%= link_to image_tag(offer.image), offer_path(offer) %>
      <span class="sale_price">
        Sale Price: <%= humanized_money_with_symbol offer.sale_price %>
      </span>
    </div>
  <% end %>
</section>
