<h1 class="page_title">Your Coupons For Today</h1>

<section class="nine_offers">
  <% @offers.each do |offer| %>
    <div>
      <%= offer.name %>
    </div>
    <div>
      <%= link_to image_tag(offer.image, width: "500"), offer_path(offer) %>
    </div>
    <div>
      <%= "Sale Price #{offer.sale_price_currency} #{offer.sale_price_cents}" %>
    </div>
  <% end %>
</section>
